*{
    margin: 0;
    padding: 0;
}
body{
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
}
/* Navbar style */
nav{
    background: rgb(0, 4, 255);
    flex: 0.5;
}
/* Banner */
header{
    background: rgb(184, 18, 95);
    /* flex: 1; */
    height: 50vh;

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: url('../img/photo_2024-06-26_07-11-06\ \(2\).jpg');
    background-size: cover;
}
header h1{
    color: white;
    font-size: 90px;
    color: black;
}
header p{
    color: black;
    font-size: 20px;
}
header button{
    background: black;
    padding: 15px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}
ul{
    display: flex;
    list-style-type: none;
}
ul li{
    padding: 15px;
}
ul li a{
    text-decoration: none;
    color: white;
}
section{
    flex: 4;
    display: flex;
}
aside{
    background: rgb(187, 247, 24);
    flex: 1;
    text-align: center;
}
main{
    background: palegreen; 
    flex: 2;
}
footer{
    background: rgb(167, 101, 167);
    flex: 1;
    text-align: center;

}
main{
    flex-direction: column;
}
#nana{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}